/node_modules
/public/hot
/public/storage
/public/employeeAttachments
/public/employeesPhoto
/public/images
/public/payments
/storage/*.key
/.env
/deploy.php
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/storage/logs/laravel.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/public/mix-manifest.json
auth.json
.php_cs.cache
.phpunit.cache
